---
import ThemeToggle from "../ThemeToggle.astro";
// import Search from "../Search.astro";
import { MENU_LINKS } from "@/data/constants";

const url = new URL(Astro.request.url);
---

<header
  id="main-header"
  class="mb-12 p-2 sticky bg-bgColor z-10 bg_th_color top-0 flex w-auto flex-wrap-reverse items-center justify-between py-4"
  transition:persist
>
  <div class="flex items-center">
    <a
      href="/"
      class="flex items-center hover:filter-none"
      aria-current={url.pathname === "/" ? "page" : false}
    >
      <img
        class="aspect-square w-[2.5rem]"
        src="/rocket-bg.gif"
        alt="Rocket icon"
      />
      <span class="text-xl font-bold sm:text-2xl">DEVLOG</span>
    </a>
    <nav id="navigation-menu" class="" aria-label="Main menu">
      {
        MENU_LINKS.map((link) => (
          <a
            href={link.path}
            class="px-4 py-4  transition-all hover:text-violet-600 hover:underline-offset-8 sm:py-0"
            aria-current={url.pathname === link.path ? "page" : false}
            rel="prefetch"
          >
            {link.title}
          </a>
        ))
      }
    </nav>
  </div>
  <div class="relative flex gap-2 items-center">
    <!-- <Search /> -->
    <ThemeToggle />
  </div>
</header>
