---
import PageLayout from '@/layouts/Base';
import { Image } from 'astro:assets';
import aboutImg from '~/assets/about-pic.jpg';

const meta = {
  title: 'About',
  description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
  <div class="space-y-6">
    <h1 class="title">About / Sobre mi</h1>
    <p>
      Buscando una manera de criticar, desahogarme, seguir aprendiendo, y
      compartir ideas. Esos son los motivos por los que he decidi crear este
      blog. Tambien como un proyecto, tanto pesonal como profesional.
    </p>
    <div class="flex justify-center">
      <Image
        src={aboutImg}
        alt="A cartoon cactus looking at the 'Astro.build' logo"
        loading="eager"
        fetchpriority="high"
        class={'aspect-square w-full'}
      />
    </div>
    <p>Sobre el creador de este blog:</p>
    <ul class="list-inside list-disc">
      <li>Desarrollador de software.</li>
      <li>Me gusta mas el front que el back. Me refiero en desarrollo 😀</li>
      <li>Actualmente viviendo en España.</li>
      <li>Mis pasiones aparte del software son el futbol y el boxeo.</li>
      <li>Algun dia me gustaria trabajar para Vercel.</li>
    </ul>
    <p>
      Clone or fork my
      <a
        class="cactus-link inline-block"
        href="https://github.com/chrismwilliams/astro-cactus"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="github repository"
      >
        repo
      </a> if you like me!
    </p>
  </div>
</PageLayout>
