---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: Array<{ title: string; desc: string; href: string }> = [
  {
    title: "Astro",
    desc: "Build fast websites, faster.",
    href: "https://astro.build",
  },
  {
    title: "Cactus template",
    desc: "A simple Astro theme. Use it to create your blog or website.",
    href: "https://github.com/chrismwilliams/astro-theme-cactus",
  },
  {
    title: "Tailwind",
    desc: "Rapidly build modern websites without ever leaving your HTML.",
    href: "https://tailwindcss.com/",
  },
  {
    title: "Vercel",
    desc: "Develop, preview, ship.",
    href: "https://vercel.com/home",
  },
];
---

<PageLayout meta={{ title: "Home" }}>
  <section>
    <h1 class="title mb-6 font-black md:text-3xl">¡Lo mejor esta debajo!</h1>
    <p class="mb-4 md:text-lg">
      Devlog, o blog de devs, ¿captas? Un blog sobre desarrollo de software, o
      sea, un rinconcito en la web donde puedo liberar mis pensamientos y
      experiencias. Sin las trampas de las plataformas de redes sociales y sus
      algoritmos.
    </p>
    <SocialList />
  </section>
  <section aria-label="Blog post list" class="mt-16">
    <h2 class="title mb-4 text-xl font-extrabold">Posts</h2>
    <ul class="grid gap-4 md:grid-cols-2">
      {
        allPostsByDate.map((p) => (
          <li class="flex flex-col rounded-sm p-4 shadow-sm shadow-slate-500 transition-all hover:-translate-x-1 hover:-translate-y-1">
            <PostPreview post={p} withDesc />
          </li>
        ))
      }
      <!-- <ViewTransitions /> -->
    </ul>
  </section>
  <section class="mt-16">
    <h2 class="title mb-4 text-xl font-extrabold">Tecnologías:</h2>
    <ul class="space-y-4 sm:space-y-2">
      {
        cactusTech.map(({ href, title, desc }) => (
          <li>
            <a
              href={href}
              target="_blank"
              rel="noopener noreferrer"
              class="cactus-link inline-block"
            >
              {title}
            </a>
            :<p class="inline-block sm:mt-2">{desc}</p>
          </li>
        ))
      }
    </ul>
  </section>
</PageLayout>
